<table class="table table-hover">
  <thead>
    <tr>
      <th>Things To Do</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.description %></td>
        <td><%= todo.completed? %></td>
        <td><%= link_to "Show", todo %></td>
        <td><%= link_to "Edit", editar_path(todo) %></td>
        <td> <%= link_to "Delete", todo, method: :delete%></td>
        <td> <%= link_to (todo.completed)? "Desmarcar" : "Marcar", complete_path(todo), class:'btn btn-danger' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Crear Ãtem", todos_new_path, class:'btn btn-primary' %></p>
